<div class="container">
  <div class="row">
    <div class="col-sm order-2 order-md-1 col-sm-12 col-md-6">
      @if (people) {
        @for (person of people; track person) {
            <a class="card" (click)="handleSelect(person)">
                <div class="card-inner">
                  <div class="content">
                    <div class="primary-info">{{person.firstName}} {{person.lastName}}</div>
                    <div class="secondary-info">{{person.dateOfBirth  | date: 'MMM d, y'}}</div>
                  </div>
                  <div class="info">
                    <div class="info-inner">
                      <div class="indicators-left">
                        <div class="indicator indicator-label">{{person.departmentId}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
        }
      }
    </div>
    <div class="col-md order-1 order-md-2 col-sm-12 col-md-6">
      <form [formGroup]="personForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label class="label" for="first-name">First Name</label>
          <input id="first-name" formControlName="firstName" type="text"  class="form-control">
          <div *ngIf="firstName && firstName.invalid && (firstName.dirty || firstName.touched)">
            <small *ngIf="personForm.controls['firstName'].errors?.['required']" class="error-message">First name is mandatory</small>
          </div>
        </div>
        
        <div class="form-group">
          <label class="label" for="last-name">Last Name</label>
          <input id="last-name" name="lastName" formControlName="lastName" type="text" class="form-control">
          <div *ngIf="lastName && lastName.invalid && (lastName.dirty || lastName.touched)">
            <small *ngIf="personForm.controls['lastName'].errors?.['required']" class="error-message">Last name is mandatory</small>
          </div>
        </div>

        <div class="form-group">
          <label class="label" for="date-of-birth">Date of Birth</label>
          <input type="date" id="date-of-birth" name="dateOfBirth" formControlName="dateOfBirth" class="form-control">
          <div *ngIf="dateOfBirth && dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
            <small *ngIf="personForm.controls['dateOfBirth'].errors?.['required']" class="error-message">Date of Birth is mandatory</small>
            <small *ngIf="personForm.controls['dateOfBirth'].errors?.['invalidDate']" class="error-message">Date of Birth cannot be in the future</small>
          </div>
        </div>

        <div class="form-group">
          <label class="label" for="email">Email</label>
          <input type="email" id="email" name="email" formControlName="email" class="form-control">
          <div *ngIf="email && email.invalid && (email.dirty || email.touched)">
            <small *ngIf="personForm.controls['email'].errors?.['required']" class="error-message">Email is mandatory</small>
            <small *ngIf="personForm.controls['email'].errors?.['email']" class="error-message">Please enter a valid email</small>
          </div>
        </div>

        <div class="form-group">
          <label class="label" for="department">Department</label>
          <select id="department" formControlName="departmentId" class="form-control">
            <option *ngFor="let d of departments" [ngValue]="d.id">{{ d.name }}</option>
          </select>
          <div *ngIf="departmentId && departmentId.invalid && (departmentId.dirty || departmentId.touched)">
            <small *ngIf="personForm.controls['departmentId'].errors?.['required']" class="error-message">Department is mandatory</small>
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!personForm.valid">Save</button>
        <button class="btn btn-secondary" (click)="clearForm()" type="button">Reset</button>
      </form>
    </div>
  </div>
</div>
