@if (errors && errors.length > 0) {
  <app-error-list (errors)="(errors)"></app-error-list>
}

<form [formGroup]="personForm" (ngSubmit)="submit()" class="form">
  <div class="form-group">
    <label class="label" for="first-name">First Name</label>
    <input
      id="first-name"
      formControlName="firstName"
      type="text"
      class="form-control"
    />
    @if (
      firstName && firstName.invalid && (firstName.dirty || firstName.touched)
    ) {
      @if (personForm.controls["firstName"].errors?.["required"]) {
        <small class="error-message">First name is mandatory</small>
      }
    }
  </div>

  <div class="form-group">
    <label class="label" for="last-name">Last Name</label>
    <input
      id="last-name"
      name="lastName"
      formControlName="lastName"
      type="text"
      class="form-control"
    />
    @if (lastName && lastName.invalid && (lastName.dirty || lastName.touched)) {
      @if (personForm.controls["lastName"].errors?.["required"]) {
        <small class="error-message">Last name is mandatory</small>
      }
    }
  </div>

  <div class="form-group">
    <label class="label" for="date-of-birth">Date of Birth</label>
    <input
      type="date"
      id="date-of-birth"
      name="dateOfBirth"
      formControlName="dateOfBirth"
      class="form-control"
    />
    @if (
      dateOfBirth &&
      dateOfBirth.invalid &&
      (dateOfBirth.dirty || dateOfBirth.touched)
    ) {
      @if (personForm.controls["dateOfBirth"].errors?.["required"]) {
        <small class="error-message">Date of birth is mandatory</small>
      }
      @if (personForm.controls["dateOfBirth"].errors?.["invalidDate"]) {
        <small class="error-message"
          >Date of birth cannot be in the future</small
        >
      }
    }
  </div>

  <div class="form-group">
    <label class="label" for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      formControlName="email"
      class="form-control"
    />
    @if (email && email.invalid && (email.dirty || email.touched)) {
      @if (personForm.controls["email"].errors?.["required"]) {
        <small class="error-message">Email is mandatory</small>
      }
      @if (personForm.controls["email"].errors?.["email"]) {
        <small class="error-message">Enter a valid email</small>
      }
    }
  </div>

  <div class="form-group">
    <label class="label" for="department">Department</label>
    <select id="department" formControlName="departmentId" class="form-select">
      @for (department of departments; track department) {
        <option [ngValue]="department.id">
          {{ department.name }}
        </option>
      }
    </select>
    @if (
      departmentId &&
      departmentId.invalid &&
      (departmentId.dirty || departmentId.touched)
    ) {
      @if (personForm.controls["departmentId"].errors?.["required"]) {
        <small class="error-message">Department is mandatory</small>
      }
    }
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary me-1"
      [disabled]="!personForm.valid"
    >
      Save
    </button>
    <button class="btn btn-secondary ms-1" (click)="clearForm()" type="button">
      Reset
    </button>
  </div>
</form>
